<script lang="ts">
    import { page } from '$app/stores';  
    let pathname = $page.url.pathname;
    $: pathname = $page.url.pathname;
    let isExpand = false;
</script>

<nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <!-- Mobile menu button-->
          <button type="button" on:click={()=>{isExpand = !isExpand}} class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Open main menu</span>
            <!--
              Icon when menu is closed.
  
              Menu open: "hidden", Menu closed: "block"
            -->
            <svg class="{isExpand? "hidden": "block"}  h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!--
              Icon when menu is open.
  
              Menu open: "block", Menu closed: "hidden"
            -->
            <svg class="{isExpand? "block": "hidden"} h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex flex-shrink-0 items-center">
            <a href="/">
              <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
            </a>
          </div>
          <div class="hidden sm:ml-6 sm:block">
            <div class="flex space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a href="base-demo" class="rounded-md px-3 py-2 text-sm font-medium {pathname.includes("base-demo") ? "bg-gray-900 text-white":"text-gray-300 hover:bg-gray-700 hover:text-white"}" aria-current="page">BaseDemo</a>
              <a href="transition" class="rounded-md px-3 py-2 text-sm font-medium {pathname.includes("transition") ? "bg-gray-900 text-white":"text-gray-300 hover:bg-gray-700 hover:text-white"}" aria-current="page">Transition</a>
              <a href="object-binding" class="rounded-md px-3 py-2 text-sm font-medium {pathname.includes("object-binding") ? "bg-gray-900 text-white":"text-gray-300 hover:bg-gray-700 hover:text-white"}">ObjectBinding</a>
              <a href="champions" class="rounded-md px-3 py-2 text-sm font-medium {pathname.includes("champions") ? "bg-gray-900 text-white":"text-gray-300 hover:bg-gray-700 hover:text-white"}">Champions</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Mobile menu, show/hide based on menu state. -->
    {#if  isExpand}
        <div class="sm:hidden" id="mobile-menu">
        <div class="space-y-1 px-2 pb-3 pt-2">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="base-demo" class="block rounded-md px-3 py-2 text-base font-medium {pathname.includes("base-demo") ? "bg-gray-900 text-white":"text-gray-300 hover:bg-gray-700 hover:text-white"}" aria-current="page">BaseDemo</a>
            <a href="transition" class="block rounded-md px-3 py-2 text-base font-medium {pathname.includes("transition") ? "bg-gray-900 text-white":"text-gray-300 hover:bg-gray-700 hover:text-white"}" aria-current="page">Transition</a>
            <a href="object-binding" class="block rounded-md px-3 py-2 text-base font-medium {pathname.includes("object-binding") ? "bg-gray-900 text-white":"text-gray-300 hover:bg-gray-700 hover:text-white"}">ObjectBinding</a>
            <a href="champions" class="block rounded-md px-3 py-2 text-base font-medium {pathname.includes("champions") ? "bg-gray-900 text-white":"text-gray-300 hover:bg-gray-700 hover:text-white"}">Champions</a>
        </div>
        </div>        
    {/if}
  </nav>
  