<script lang="ts">
    import EditItem from "$lib/components/tools/edit_item.svelte"
    import ClickItem from "$lib/components/tools/click_item.svelte"
    import StoreShower from "$lib/components/tools/store_shower.svelte"
	import { WS_List } from "$lib/store";
	import { get } from "svelte/store";
    let input1 = 200

    let result1 = input1 * 2
    let result2 = result1 + 33
    let result3 = result2 + result1 - 133
    let char = convertToCharWithASCII(result3)

    function convertToCharWithASCII(input: number){
        const integerNum = Math.round(input)
        const chr = String.fromCharCode(97 + integerNum);
        return chr
    }

    // $: result1 = input1 * 2
    // $: result2 = result1 + 33
    // $: result3 = result2 + result1
    // $: char = convertToCharWithASCII(result3)

    let testingList = ["Python", "JavaScript", "C#", "Rust", "C++", "TypeScript", "GoLang", "JAVA", "C", "Flutter"]

    function deleteListSelf(){
        testingList.pop()
    }

    function deleteAndReassign(){
        testingList.pop()
        testingList = testingList
    }

    let customerEvent : null | CustomEvent = null


    let insertStr = ""
    let delStr = ""
</script>

<div class="flex flex-col w-full">
    <!-- 基本變數連動、刷新 -->
    <div class="flex flex-row text-white">
        <p class="pr-4">Input1: </p>
        <input class="px-1 text-black" type="number" bind:value={input1}>
    </div>
    
    
    <div class="flex flex-row my-4 text-white">
        <p class="pr-4 {result1 %5 ===0? "text-red-400":""}">Result1: {result1}</p>
    </div>
    
    <div class="flex flex-row my-4 text-white">
        <p class="pr-4">Result2: {result2}</p>
        {#if result2 > 200}
        <p class="border px-2 text-teal-300"> Large than 200! </p>        
        {/if}
    </div>
    
    <div class="flex flex-row my-4 text-white">
        <p class="pr-4">Result3: {result3}</p>
    </div>
    
    <div class="flex flex-row my-4 h-fit text-white">
        <p class="pr-4 content-center">ResultWithFunc1: </p>
        <p class="text-5xl">
            {char}
        </p>
    </div>
    
    <!-- 陣列更新 -->
    <div class="border w-full mb-4" />
    <div class="flex flex-row">
        <button class="p-2 bg-slate-300 rounded-md mr-8" on:click={deleteListSelf}>
            List本身做刪除
        </button>
        <button class="p-2 bg-slate-300 rounded-md" on:click={deleteAndReassign}>
            List本身做刪除並重新賦值
        </button>
    </div>
    <div class="mt-4 grid grid-cols-12">
        {#each testingList as testingStr, index}
        <p class="text-slate-300">{index}. {testingStr}</p>
        {/each}
    </div>
    
    <!-- 自訂元件 -->
    <div class="border w-full my-4" />
    <div class="text-3xl text-white"> 自訂Component </div>
    <div class="grid grid-cols-2 divide-x divide-slate-200">
        <div class="">
            <ClickItem on:be_clicked={(e) => {customerEvent = e}}></ClickItem>
            <EditItem on:be_edited={(e) => {customerEvent = e}}></EditItem>
        </div>
        <div class="text-white w-full h-full break-all pl-4">
            {#if customerEvent}
            {JSON.stringify(customerEvent.detail)}
            {/if}
        </div>
    </div>
    
    <!-- 原生Store -->
    <div class="border w-full my-4" />
    <div class="text-3xl text-white mb-4"> 原生Store </div>
    <div class="grid grid-cols-2 divide-x divide-slate-200">
        <div class="">
            <form class="text-white my-2">
                <label>新增項目
                    <input class="px-2 text-black" bind:value={insertStr}>
                </label>
                <button class="ml-4 px-3 bg-zinc-200 text-slate-900 rounded-full" on:click={()=>{
                    const current = get(WS_List)
                    current.push(insertStr)
                    WS_List.set(current)
                }}>+</button>
            </form>
            <form class="text-white my-4">
                <label>刪除項目
                    <input class="px-2 text-black" bind:value={delStr}>
                </label>
                <button class="ml-4 px-2 bg-zinc-200 text-slate-900 rounded-full" on:click={()=>{
                    const current = get(WS_List)
                    const newList = current.filter(item => item != delStr)
                    WS_List.set(newList)
                }}> － </button>
            </form>
        </div>
        <div class="text-white w-full h-full break-all pl-4">
            <StoreShower></StoreShower>
        </div>
    </div>
</div>