<script>
	import NavigationBar from "$lib/components/nav/navigation_bar.svelte";
    import "../app.css";
</script>
  
<NavigationBar></NavigationBar>
<div class="flex bg-slate-700 w-full h-full p-8" style="min-height: calc(100vh - 4rem);">
    <slot />
</div>