<script lang="ts">
	import type { Champion } from "$lib/apis/champion";

    export let champion: Champion | null = null
</script>

<div class="group relative">
    <div class="relative aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md lg:aspect-none group-hover:opacity-75 h-80" >
        <div class="absolute w-full h-full" style="filter: blur(12px); background-size: 100% auto; background-image: url({`https://ddragon.leagueoflegends.com/cdn/img/champion/loading/${champion?.id}_0.jpg`});"></div>
        <img class="absolute h-full w-full object-contain object-center lg:h-full lg:w-full" src="{`https://ddragon.leagueoflegends.com/cdn/img/champion/loading/${champion?.id}_0.jpg`}" alt="{champion?.name}" >
    </div>
    <div class="mt-2 px-4 flex justify-between">
        <div>
            <h3 class="text-lg text-slate-200">
                <p>{champion?.name}</p>
            </h3>
            <p class="mt-1 text-sm text-slate-200">{champion?.title}</p>
        </div>
        <p class="text-sm mt-1 font-medium text-slate-200">{champion?.partype}</p>
    </div>
</div>