<script lang="ts">
	import { createEventDispatcher } from 'svelte';

    const dispatch = createEventDispatcher()

    const selectTags = [true, true, true, true, true, true,]
    const tags = ["Fighter", "Tank", "Mage", "Assassin", "Marksman", "Support"]
    let keyword = ""
	let timer = 0;

    function throwSearchConditions(_selectTags: boolean[], _keyword: string){
        clearTimeout(timer);
		timer = setTimeout(() => {
            const usedTags = []
            for(let i=0; i<tags.length;i++){
                if(selectTags[i])
                usedTags.push(tags[i])
            }
            dispatch("conditionChange", {
                selectedTags: usedTags,
                keyword: _keyword
            })
		}, 100)
    }

    $: throwSearchConditions(selectTags, keyword)
</script>

<div class="w-full h-12 flex  px-4 bg-slate-100 rounded-md items-center justify-center">
    <div>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
          </svg>          
    </div>
    <div class="ml-2">
        <input class="border text-black px-1 w-48"  placeholder="英雄名稱" type="text" bind:value={keyword}>
    </div>
    <div class="grid ml-8 grid-cols-6 gap-4 select-none">
        <label class="mr-4 inline-flex items-center cursor-pointer">
            <span class="mr-2 text-lg font-sans text-gray-900">鬥士</span>
            <input type="checkbox" value="" class="sr-only peer" bind:checked={selectTags[0]}>
            <div class="relative w-9 h-5 bg-gray-200 peer-focus:outline-none rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-blue-500"></div>
        </label>
        <label class="mr-4 inline-flex items-center cursor-pointer">
            <span class="mr-2 text-lg font-sans text-gray-900">坦克</span>
            <input type="checkbox" value="" class="sr-only peer" bind:checked={selectTags[1]}>
            <div class="relative w-9 h-5 bg-gray-200 peer-focus:outline-none rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-blue-500"></div>
        </label>
        <label class="mr-4 inline-flex items-center cursor-pointer">
            <span class="mr-2 text-lg font-sans text-gray-900">法師</span>
            <input type="checkbox" value="" class="sr-only peer" bind:checked={selectTags[2]}>
            <div class="relative w-9 h-5 bg-gray-200 peer-focus:outline-none rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-blue-500"></div>
        </label>
        <label class="mr-4 inline-flex items-center cursor-pointer">
            <span class="mr-2 text-lg font-sans text-gray-900">刺客</span>
            <input type="checkbox" value="" class="sr-only peer" bind:checked={selectTags[3]}>
            <div class="relative w-9 h-5 bg-gray-200 peer-focus:outline-none rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-blue-500"></div>
        </label>
        <label class="mr-4 inline-flex items-center cursor-pointer">
            <span class="mr-2 text-lg font-sans text-gray-900">射手</span>
            <input type="checkbox" value="" class="sr-only peer" bind:checked={selectTags[4]}>
            <div class="relative w-9 h-5 bg-gray-200 peer-focus:outline-none rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-blue-500"></div>
        </label>
        <label class="mr-4 inline-flex items-center cursor-pointer">
            <span class="mr-2 text-lg font-sans text-gray-900">輔助</span>
            <input type="checkbox" value="" class="sr-only peer" bind:checked={selectTags[5]}>
            <div class="relative w-9 h-5 bg-gray-200 peer-focus:outline-none rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-blue-500"></div>
        </label>
    </div>
</div>