<script lang="ts">
    import { type SimplePerson, Color } from "$lib/types/person";
    export let person: SimplePerson = {
		 age: 0,
		 name: ""
	 }
</script>

<div class="mb-4">
    <p class="text-3xl mb-4">下傳第二層</p>
    <form class="flex flex-row space-x-32">
        <div class="flex flex-col space-y-4">
            <label>
                姓名：
                <input class="text-black px-2 w-36" bind:value={person.name} />
            </label>
            <label>
                年齡：
                <input type="number" class="text-black px-2  w-36" bind:value={person.age}/>
            </label>
    </form>
</div>