<script lang="ts">
    import { type Person, Color } from "$lib/types/person";
    import ObjectLayer2 from "$lib/components/object_view/object_layer2.svelte";
    export let person: Person = {
		 age: 0,
		 name: "null",
		 alive: false,
		 favoriteColor: Color.Green,
		 hight: 0,
		 weight: 0
	 }
</script>

<div class="mb-4">
    <p class="text-3xl mb-4">下傳第一層</p>
    <form class="flex flex-row space-x-32">
        <div class="flex flex-col space-y-4">
            <label>
                姓名：
                <input class="text-black px-2 w-36" bind:value={person.name} />
            </label>
            <label>
                年齡：
                <input type="number" class="text-black px-2  w-36" bind:value={person.age}/>
            </label>
            <label class="cursor-pointer select-none">
                還在世：
                <input type="checkbox" bind:checked={person.alive}/>
            </label>
        </div>
        <div class="flex flex-col space-y-4">
            <label>
                身高：
                <input type="number" class="text-black px-2 w-36" bind:value={person.hight}/>
            </label>
            <label>
                體重：
                <input type="number" class="text-black px-2 w-36" bind:value={person.weight} />
            </label>
            <label class="cursor-pointer select-none">
                喜歡的顏色：
                <select class="bg-white text-black w-24" bind:value={person.favoriteColor}>
                    {#each Object.keys(Color) as color }
                        <option value="{color.toLocaleLowerCase()}">{color}</option>
                    {/each}
                </select>
            </label>
        </div>
    </form>
</div>
<div class="border w-full mb-4" />
<ObjectLayer2 person={person}></ObjectLayer2>