<script lang="ts">
	import ObjectLayer1 from "$lib/components/object_view/object_layer1.svelte";
    import { type Person, Color } from "$lib/types/person";
    const thisPerson : Person = {
		age: 23,
		name: "Svelte Li",
		alive: false,
		favoriteColor: Color.Red,
		hight: 174.9,
		weight: 66.3
	}
</script>

<div class="w-full h-full text-white">
    <div class="mb-4">
        <p class="text-3xl mb-4">資料源頭</p>
        <form class="flex flex-row space-x-32">
            <div class="flex flex-col space-y-4">
                <label>
                    姓名：
                    <input class="text-black px-2 w-36" bind:value={thisPerson.name} />
                </label>
                <label>
                    年齡：
                    <input type="number" class="text-black px-2  w-36" bind:value={thisPerson.age}/>
                </label>
                <label class="cursor-pointer select-none">
                    還在世：
                    <input type="checkbox" bind:checked={thisPerson.alive}/>
                </label>
            </div>
            <div class="flex flex-col space-y-4">
                <label>
                    身高：
                    <input type="number" class="text-black px-2 w-36" bind:value={thisPerson.hight}/>
                </label>
                <label>
                    體重：
                    <input type="number" class="text-black px-2 w-36" bind:value={thisPerson.weight} />
                </label>
                <label class="cursor-pointer select-none">
                    喜歡的顏色：
                    <select class="bg-white text-black w-24" bind:value={thisPerson.favoriteColor}>
                        {#each Object.keys(Color) as color }
                            <option value="{color.toLocaleLowerCase()}">{color}</option>
                        {/each}
                    </select>
                </label>
            </div>
        </form>
    </div>
    <div class="border w-full mb-4" />
    <ObjectLayer1 person={thisPerson}></ObjectLayer1>
</div>