<script lang="ts">
	import ChampionCard from "$lib/components/champion/champion_card.svelte";
    import SearchBar from "$lib/components/champion/search_bar.svelte";
	import { getAllChampions, type Champion } from "$lib/apis/champion";
	import { onMount } from "svelte";

    let allChampions: Champion[] = []
    let showChampions: Champion[] = []
    onMount(async ()=>{
        const apiResult = await getAllChampions()
        if(apiResult){
            allChampions= Object.values(apiResult.data)
        }
    })

    function filterChampion(event: CustomEvent){
        console.log(event.detail)
        const newShowChampions1 = allChampions.filter(champion => {return champion.name.includes(event.detail.keyword)})
        const newShowChampions2 = newShowChampions1.filter(champion => {
            let result = false
            champion.tags.forEach(tag=>{
                if (event.detail.selectedTags.includes(tag))
                result = true
            })
            return result;
        })
        showChampions = newShowChampions2
    }
</script>

<div class="flex flex-col w-full h-full">
    <div class="px-4">
        <SearchBar on:conditionChange={filterChampion}></SearchBar>
    </div>
    <div class="w-full h-full">
        <div class="mx-auto max-w-2xl px-4 py-4 sm:px-6 lg:max-w-7xl lg:px-8">           
            <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
                {#each showChampions as champion }
                    <ChampionCard champion={champion}></ChampionCard>
                {/each}
            </div>
        </div>
    </div>
</div>