<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	const dispatch = createEventDispatcher();

    function trigger(){
        dispatch("be_clicked", {
            data: "This is ClickItem!",
            time: new Date().toLocaleString()
        })
    }
</script>

<div class="w-fit p-2 my-2 border border-cyan-700 select-none cursor-hel bg-cyan-200 rounded-md" on:click={trigger}>
    ClickItem
</div>