<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	const dispatch = createEventDispatcher();

    let content = ""

    function trigger(_: string){
        dispatch("be_edited", {
            data: "This is EditItem!",
            content: content
        })
    }

    $: trigger(content)
</script>

<div class="w-fit p-2 my-2 rounded-md border select-none bg-cyan-100">
    EditItem
    <input class="ml-2 px-2 bg-gray-700 text-slate-100" bind:value={content}>
</div>
