<script lang="ts">
    import { fade, fly } from 'svelte/transition';

    let isFade = true
    let bFly = true
    let inOutFly = true
    let fadeFly = true
</script>

<div class="w-full text-white flex flex-col select-none">
    <div class="my-8 flex flex-row">
        <label class="  flex flex-row">
            <input type="checkbox" bind:checked={isFade}>
            <p class="ml-2">FadeInOut</p>
        </label>
        {#if isFade}
            <div class="ml-8">
                <p transition:fade>Fades in and out</p>
            </div>
        {/if}
    </div>
    <div class="my-8 flex flex-row">
        <label class="  flex flex-row">
            <input type="checkbox" bind:checked={bFly}>
            <p class="ml-2">BottomFly</p>
        </label>
        {#if bFly}
            <div class="ml-8">
                <p transition:fly={{ y: 50, duration: 2000}}>BottomFly in and out</p>
            </div>
        {/if}
    </div>
    <div class="my-8 flex flex-row">
        <label class="  flex flex-row">
            <input type="checkbox" bind:checked={inOutFly}>
            <p class="ml-2">InOutFly</p>
        </label>
        {#if inOutFly}
            <div class="ml-8">
                <p in:fly={{ x:-100, y: -50, duration: 1000}} out:fly={{x:100, y:-50, duration:1000}}>CustomFly in and out</p>
            </div>
        {/if}
    </div>
    <div class="my-8 flex flex-row">
        <label class="  flex flex-row">
            <input type="checkbox" bind:checked={fadeFly}>
            <p class="ml-2">FadeFly</p>
        </label>
        {#if fadeFly}
            <div class="ml-8">
                <p in:fade out:fly={{x:100, y:-50, duration:1000}}>Fade in and Fly out</p>
            </div>
        {/if}
    </div>
</div>